<p id="notice"><%= notice %></p>

<% if current_user.is_admin? %>
     <%= link_to 'New Bank', new_bank_path, class: "btn btn-info" %>   
<%end%>
<br/>

<h2 class="text-muted">Listing Banks</h2>
<br/>
<%if @banks.empty? %>
  <p>No banks found </p>
<%else %>

<table class ="table table-striped" id="myTable">
  <thead>
    <tr>
      <th class="text-success">Name</th>
      <th class="text-success">Address</th>
      <th class="text-success">Manager</th>
      <th class="text-success">Contact Details</th>
      <th class="text-success">Branch</th>
      <th class="text-success">Company</th>
      <th class="text-success">Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.order('created_at DESC').each do |bank| %>
      <tr>
        <td><%= bank.try(:name) %></td>
        <td><%= bank.address %></td>
        <td><%= bank.manager %></td>
        <td><%= bank.contact_details %></td>
        <td><%= bank.branch.name %></td>
        <td><%= bank.company.name %></td>
        <td><%= bank.link %></td>
        <td><%= link_to 'Show', bank %></td>
        <% if can? :update, bank %>
          <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
         <%end%>
         <% if can? :destroy, bank %>  
          <td><%= link_to 'Destroy', bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>  
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>

<script type="text/javascript">
   $('#myTable').DataTable();  
</script> 










