<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-6">
  <div class="box-1">
<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bank.address %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @bank.manager %>
</p>

<p>
  <strong>Contact details:</strong>
  <%= @bank.contact_details %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @bank.branch.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bank.company.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @bank.link %>
</p>

<% if current_user.is_admin?%>
  <%= link_to 'Edit', edit_bank_path(@bank),class: "btn btn-info" %> |
<%end%> 

<% if can? :destroy, @bank %>  
          <%= link_to 'Destroy', @bank, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-info" %> | 
        <%end%>  

<%= link_to 'Back', banks_path,class: "btn btn-info" %>
</div>
</div>


<div class="col-md-6 ">
  <div class="box-1">
<p>
  <strong>Accounts related to this bank:</strong>
  <%if  @bank.accounts == nil%>
      <h3>No Accounts found </h3>
  <% else%>    
    <% @bank.accounts.each do |acc| %>  
    <li><%=link_to acc.acc_no,bank_account_path(@bank,acc.id)%></li><br/>
    <%end%>
  <%end%>
</p>
</div >
</div>



