<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bank.address %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @bank.manager %>
</p>

<p>
  <strong>Contact details:</strong>
  <%= @bank.contact_details %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @bank.branch.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bank.company.name %>
</p>

<p>
  <strong>Accounts related to this bank:</strong>
  <%if  @bank.accounts == nil%>
      No Accounts found 
  <% else%>    
    <% @bank.accounts.each do |acc| %>  
    <li><%=link_to acc.acc_no,account_path(acc.id)%></li><br/>
    <%end%>
  <%end%>
</p>

<% if current_user.is_admin?%>
  <%= link_to 'Edit', edit_bank_path(@bank) %> |
<%end%> 
<%= link_to 'Back', banks_path %>


