<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>

<p id="notice"><%= notice %></p>

<% if current_user.is_admin?%>
  <%= link_to 'New Company', new_company_path,class: "btn btn-info" %>
<%end%><br/>
<br/>


<h2 class="text-muted">Listing Companies</h2>
<br/>
<%if @companies.empty? %>
  <p>No companies found </p>
<%else %>
<div class="container">
<table class ="table table-striped" id="myTable">
  <thead>
    <tr>
      <th class="text-success">Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.order('created_at DESC').each do |company| %>
      <tr>
        <td><%= company.try(:name) %></td>
        <td><%= link_to 'Show', company %></td>
        <% if can? :upadte, company %> 
          <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <%end%>
        <% if can? :destroy, company %>   
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>    
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%end%>
<br>

<script type="text/javascript">
   $('#myTable').DataTable();  
</script>
