<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-6 ">
  <div class="box-1">
<p>
  <h4><strong>Name:</strong></h4>
  <%= @company.name %>
</p>

<p>
  <h4><strong>Contact Number:</strong></h4>
  <%= @company.contact_number %>
</p>

<p>
  <h4><strong>Address:</strong></h4>
  <%= @company.address %>
</p>

<p>
  <h4><strong>Mail Id:</strong></h4>
  <%= @company.mail_id %>
</p>
<br/>
</br/>
<% if current_user.is_admin? %>
  <%= link_to 'Edit', edit_company_path(@company),class: "btn btn-info" %> |
<%end%> 

<%# if can? :destroy, @company %>   
        <%#= link_to 'Delete', @company, method: :delete, data: { confirm: 'Are you sure?'},class: "btn btn-info" %>  
        <%#end%>   

<%= link_to 'Back', companies_path,class: "btn btn-info" %>

</div>
</div>


<div class="col-md-6">
  <div class="box-1">
<p>
  <b><h4><strong>Accounts :</strong></h4></b> <br/>
  <%if  @company.accounts == nil%>
      <h3>No Accounts found</h3> 
  <% else%>    
    <% @company.accounts.each do |acc| %> 
    <li><%=link_to acc.acc_no,company_account_path(@company,acc.id)%></li><br/>
    <%end%>
  <%end%>
</p>
<br/>
</div>
</div>

