<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @perticular.name %>
</p>

<% if current_user.is_admin?%>
	<%= link_to 'Edit', edit_perticular_path(@perticular) %> |
<%end%>
<%= link_to 'Back', perticulars_path %><br/><br/>

<% unless @perticular.transactions.blank? %>

<%@perticular.transactions.list_view.each do |key,month| %>
      <%=link_to key,perticulars_yearwise_perticular_path(:year => key,:perticular_id =>@perticular.id),class:"btn btn-info"%>
<%end%> 
<%end%>  <br/><br/> 