<div class="row">
<div class="col-md-6 ">
	<div class="box-1">
<p id="notice"><%= notice %></p>

<p>
  <b><strong>Particular Name :  </strong></b>
  <%= @perticular.name %>
</p>

<p>
  <b><strong>Perticular Type:  </strong></b>
  <%= @perticular.type %>
</p>

<br/>
<% if current_user.is_admin?%>
	<%= link_to 'Edit', edit_perticular_path(@perticular),class: "btn btn-info" %> |
<%end%>

<%# if can? :destroy, @perticular %> 
          <%#= link_to 'Destroy', @perticular, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-info" %> 
        <%#end%>

<%= link_to 'Back', perticulars_path,class: "btn btn-info"	 %><br/><br/>
</div>
</div>

<div class="col-md-6">
	<div class="box-1">
<b><strong>Reports</strong></b><br/><br/>		


<%# if @perticular.transactions.list_view(current_account)== nil%>
	<%#= redirect_to 'back'%>
<%#else%>	
<% unless @perticular.transactions.blank? %>
<%@perticular.transactions.list.each do |key,month| %>
      <%=link_to key,perticulars_yearwise_perticular_path(:year => key,:perticular_id =>@perticular.id),class:"btn btn-success"%><br/><br/>
<%end%> 
<%end%>
<%#end%>
	</div>  
</div>
</div>