<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
        <label>Transaction Date</label><br/>
     
       <div class="col-sm-6">
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar"></i>
        </div>

        <%= f.text_field :transaction_date, class: "form-control", id: "date" ,placeholder: "yyyy/mm/dd"%>
       </div>
     </div><br/>
     <br/>
     
  
  <div class="field">
    <%=f.label :company_id %><br>
    <%=f.collection_select :company_id,Company.all,:id,:name,{prompt:"Select Company"},{ class: 'chosen-select'}%>  
  </div><br/>

  <div class="field">
    <%= f.label :account_id %><br>
    <%=f.collection_select :account_id,Account.all,:id,:acc_no,{prompt:"Select acc_no"},{ class: 'chosen-select' }%>
    <br/>
    <span id="balance"></span>
  </div>

<br/>
  <div class="field" >
    <%= f.label :particular_id %><br>
    <%=f.collection_select :perticular_id,Perticular.all,:id,:name,{prompt:"Select particular"},{ class: 'chosen-select' }%>
  </div><br/>
  
  <div class="field">
    <%= f.label :transaction_type %><br>

    <%= f.radio_button :transaction_type, 'debit', :checked => true %> 
    <%= f.label :Debit %>
    
    <%= f.radio_button :transaction_type, 'credit' %> 
    <%= f.label :Credit %>
  </div><br/>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount ,class:"col-sm-6" %><br/><br/> 
  </div>

  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_area :remark ,class:"col-sm-6" %><br/><br/>
  </div><br/><br/>

  <div class="field">
    <%= f.label :transaction_kind %><br>
    <%=f.select :transaction_kind,["Cash","Cheque","RTGS"],prompt:"select Kind"%>
  </div><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
var companyHandle = document.getElementById('transaction_company_id');
var accountHandle = document.getElementById('transaction_account_id');
var spanHandle = document.getElementById('balance');

companyHandle.onchange = function(){
  accountHandle.innerHTML = "";
  spanHandle.innerHTML = "";
  var newElement = document.createElement('option');
  newElement.value = 0;
  var newText = document.createTextNode('select');
  newElement.appendChild(newText);
  accountHandle.appendChild(newElement);
  var request = new XMLHttpRequest();
  request.open('GET','/companies/select_accounts.json?company_id=' + companyHandle.value)
  request.onreadystatechange = function(){
    if(request.readyState === 4 && request.status === 200){
      var response = JSON.parse(request.responseText);
      response.forEach(function(account){
        var newElement = document.createElement('option');
        newElement.value = account.id;
        var newText = document.createTextNode(account.acc_no)
        newElement.appendChild(newText);
        accountHandle.appendChild(newElement);
      });
    }
  }
  request.send();
};

  accountHandle.onchange = function(){
    var request = new XMLHttpRequest();
    request.open('GET','/accounts/select_balance.json?acc_id=' + accountHandle.value);
    request.onreadystatechange = function(){
      if(request.readyState === 4 && request.status === 200){
        var response = JSON.parse(request.responseText);
       spanHandle.innerHTML = "Current Balance : " + response.current_balance;
      }
    };
    request.send();
  };


</script>




