<%if @transactions.empty? %>
  <p>No transactions found </p>
<%else %>

<div class="container">
<div class="col-md-row">
  
    
<!-- Searching-->
          <%=form_tag transactions_daily_results_path(),method: :get do %>

          
          <% if current_account != nil%>
              
                <b><label>Account Number:</label></b>
                <%= select_tag "id", options_from_collection_for_select(@accounts, "id", "acc_no"),{:prompt=>"select account number"}%><br/><br/>

          <%end%>
          <%#=collection_select :account_id,Account.all,:id,:acc_no,{prompt:"Select Account"}%>
          
          <%=submit_tag "Search",id: "search"%> 

          <%end%>  
        </div></div>
    <br/>

<div class="container">
  <h2 class="text-muted">Today's Statement of the Date :  <%=Date.today.to_s(:long)%></h2><br/>

                  <table class ="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th class="text-success">SI.no</th>
                        <th class="text-success">Transaction Date</th>
                        <th class="text-success">Instrument Date</th>
                        <th class="text-success">Company Name</th>
                        <th class="text-success">Account Number</th>
                        <th class="text-success">Transaction kind</th>
                         <th class="text-success">Instrument Number</th>
                        <th class="text-success">Particular</th>
                        <th class="text-success">Amount</th>
                        <th class="text-success">Transaction type</th>
                        <th class="text-success">Remark</th>  
                      </tr>
                    </thead>

                    <tbody id="myTable"> 
                      <% i = 1 %>
                      <%@transactions.order('created_at DESC').each do |val|%>
                        <% if val.transaction_date == Date.today%>
                          <tr>
                            <td>   <%=i%></td>
                            <td>  <%=val.transaction_date.strftime("%d-%m-%Y") if val.transaction_date!=nil %></td>
                            <td><%= val.instrument_date.strftime("%d-%m-%Y") if val.instrument_date!=nil%></td>
                            <td>  <%=val.company.name%></td>
                            <td>  <%=val.account.acc_no%></td>
                            <td><%= val.transaction_kind %></td>
                            <td><%= val.instrument_number%></td>
                            <td>  <%=val.perticular.name%></td>
                            <td>  <%=val.amount%></td>
                            <td>  <%=val.transaction_type%></td>
                            <td>  <%=val.remark%></td>
                          </tr> 
                          <% i = i + 1 %>
                        <%end%>
                      <%end%>
                    </tbody>
                  </table>             
   </div>
   <%end%>  

   
<div class="container">
<div class="daily_statement_button">
  <div class="col-md-3">
  <%= link_to 'print_preview', transactions_daily_pp_path,class: "btn btn-primary" %><br/><br/>
  </div>

  <div class="col-md-3">
    <%= link_to 'Export to Excel', transactions_daily_statement_path(format:"xls"),class: "btn btn-primary" %><br/><br/>
  </div>

  <div class="col-md-3"> 
    <%= link_to 'Generate PDF', transactions_daily_statement_path(format:"pdf"),class: "btn btn-primary" %><br/><br/>
  </div>
</div>
</div>
  

<script type="text/javascript">
   $('#myTable').DataTable();  
</script>

<script>
  var accHandle = document.getElementById('id');
  var searchHandle = document.getElementById('search');

  searchHandle.disabled = true;

  accHandle.onchange = function(){
    if (accHandle.value == ""){
      searchHandle.disabled = true;
    }else{
      searchHandle.disabled = false;
    }
  };

</script>

