<%#Code for Breadcrumbs%>
<!-- <h1>Listing Transactions</h1><br/> -->
<!-- <ol class="breadcrumb"> -->
 <!-- <li><a href="#">Transaction</a></li> -->
  
<!-- </ol> -->
<%#end of Breadcrumbs%>

<b><p id="notice"><%= notice %></p></b><br/>

<!-- Searching-->

<%=form_tag transactions_search_results_path,method: :get do %>
 <label>Start Date:</label>
 <%= text_field_tag :start%>
  
 <label>End Date:</label> 
  <%= text_field_tag :end%>

<label>Account Number:</label>
  <%= select_tag "acc_no", options_from_collection_for_select(Account.all, "id", "acc_no",:selected =>current_account.id),{:include_blank => false , :class => "product_select"}%>
  
  <%=submit_tag  "Search"%> 
<%end%> 
<%#=collection_select :account_id,Account.all,:id,:acc_no,{prompt:"Select Account"}%>
 
  <% if Transaction.list_view(current_account)=="No Transaction found"%>
      <h3>No Transaction found</h3> 
    <%else%> 
      <%Transaction.list_view(current_account).each do |key,month| %>
      <%= link_to key ,transactions_yearwise_path(:year => key),class:"btn btn-success"%>    
    <%end%><br/>
  <%end%>
 
<br/>

<% if current_user.is_admin?%>

  <%= link_to 'New Transaction', new_transaction_path ,class: "btn btn-info"%>
<%end%><br/><br/>


<!--its to export to excel -->
<%= link_to "Export to Excel",transactions_path(format: "xls"),class: "btn btn-info"%><br/>
<br/><br/>


<h2 class="text-muted">Fetching Last 20 Records </h2>
<br/>
<%if @transactions.empty? %>
  <p>No transactions found </p>
<%else %>
<div class="container">
                  <table class ="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th class="text-success">SI.no</th>
                        <th class="text-success">Transaction Date</th>
                        <th class="text-success">Company Name</th>
                        <th class="text-success">Account Number</th>
                        <th class="text-success">Particular</th>
                        <th class="text-success">Transaction type</th>
                        <th class="text-success">Amount</th>
                        <th class="text-success">Transaction kind</th>
                        <th class="text-success">Instrument Date</th>
                        <th class="text-success">Instrument Number</th>
                        <th class="text-success">Remark</th> 
                        <th class="text-success">Show</th>
                      </tr>
                    </thead>

                    <tbody id="myTable">

                      <%@transactions.order('created_at DESC').limit(20).each_with_index do |val,index|%>
                       
                      <tr>
                        <td><%=index+1%></td>
                        <td><%= val.transaction_date.to_s(:long) %></td>
                        <%if val.company==nil%>
                            <td>Null</td>
                        <%else%>    
                        <td><%=link_to val.company.try(:name),company_path(val.company.id)%></td>
                        <%end%>
                        <td><%=link_to val.account.try(:acc_no),account_path(val.account.id)%>
                          <%if val.perticular==nil%>
                            <td>Null</td>
                        <%else%> 
                        <td><%=link_to val.perticular.name,perticular_path(val.perticular.id) %></td>
                        <%end%>
                        <td><%= val.transaction_type %></td>
                        <td><%= val.amount%></td>
                        <td><%= val.transaction_kind %></td>
                        <td><%= val.instrument_date%></td>
                        <td><%= val.instrument_number%></td>
                        <td><%= val.remark %></td>
                        <td><%= link_to 'Show',val,class: "btn btn-info" %></td>
                      </tr> 
                      <%end%>
                    </tbody>
                  </table>             
   </div>
   <%end%>   

   <script type="text/javascript">
   $('#myTable').DataTable();  
</script>
            





