Total transactions for the Company : <%=current_account.company.name%>  of  Account_number : <%=current_account.acc_no%>


<table >
                    <thead>
                      <tr>
                        <th>SI.no</th>
                        <th>Company Name</th>
                        <th>Account Number</th>
                        <th>Transaction Date</th>
                        <th>Instrument Date</th>
                        <th>Transaction kind</th>
                        <th>Instrument Number</th>
                        <th>Particular</th>
                        <th>Amount</th>
                        <th>Transaction type</th>
                        <th>Remark</th> 
                        
                      </tr>
                    </thead>

                    <tbody >

                      <%@transactions.order('created_at DESC').limit(20).each_with_index do |val,index|%>
                       
                      <tr>
                        <td><%=index+1%></td>
                        
                        <td><%=val.company.name%></td>
                        <td><%= val.account.acc_no%>
                        <td><%= val.transaction_date.strftime(" %d-%m-%Y") if val.transaction_date !=nil%></td>
                         <td><%= val.instrument_date.strftime(" %d-%m-%Y") if val.instrument_date!=nil  %></td>
                         <td><%= val.transaction_kind %></td>
                        <td><%= val.instrument_number %></td>
                        <td><%= val.perticular.name%></td>
                        <td><%= val.amount%></td>
                        <td><%= val.transaction_type %></td>
                        <td><%= val.remark %></td>
                        
                      </tr> 
                      <%end%>
                    </tbody>
                  </table>             