<h3>Last 20 Transactions for the Company : <%=current_account.company.name%>  of  Account_number : <%=current_account.acc_no%></h3>

<br/>
<br/>
<div class="container">
                  <table border="1" >
                    <thead>
                      <tr>
                        <th style="padding: 10px;">SI.no</th>
                        <th style="padding: 10px;">Transaction Date</th>
                        <!-- <th style="padding: 10px;">Company Name</th>
                        <th style="padding: 10px;">Account Number</th> -->
                        <th style="padding: 10px;">Instrument Date</th>
                        <th style="padding: 10px;">Transaction kind</th>
                        <th style="padding: 10px;">Instrument Number</th>
                        <th style="padding: 10px;">Particular</th>
                        <th style="padding: 10px;">Amount</th>
                        <th style="padding: 10px;">Transaction type</th>
                        <th style="padding: 10px;">Remark</th> 
                      
                      </tr>
                    </thead>

                    <tbody id="myTable">

                      <%@transactions.order('created_at DESC').limit(20).each_with_index do |val,index|%>
                       
                      <tr>
                        <td style="padding: 10px;"><%=index+1%></td>
                        <td style="padding: 10px;"><%= val.transaction_date.strftime(" %d-%m-%Y") %></td>
                        <!-- <%#if val.company==nil%>
                            <td style="padding: 10px;">Null</td>
                        <%#else%>    
                        <td style="padding: 10px;"><%= val.company.try(:name)%></td>
                        <%#end%>
                        <td style="padding: 10px;"><%=val.account.try(:acc_no)%> -->

                         <td style="padding: 10px;"><%= val.instrument_date.strftime(" %d-%m-%Y") if val.instrument_date != nil %></td>
                         <td style="padding: 10px;"><%= val.transaction_kind %></td>
                         <td style="padding: 10px;"><%= val.instrument_number%></td>
                           
                          <%if val.perticular==nil%>
                            <td style="padding: 10px;">Null</td>
                        <%else%> 
                        <td style="padding: 10px;"><%=val.perticular.name %></td>
                        <%end%>
                         <td style="padding: 10px;"><%= val.amount%></td>
                        <td style="padding: 10px;"><%= val.transaction_type %></td>
                        <td style="padding: 10px;"><%= val.remark %></td>
                        

                      </tr> 
                      <%end%>
                    </tbody>
                  </table>             
   </div>
 
