<%#Code for Breadcrumbs%>
<!-- <h1>Listing Transactions</h1><br/> -->
<!-- <ol class="breadcrumb"> -->
 <!-- <li><a href="#">Transaction</a></li> -->
  
<!-- </ol> -->
<%#end of Breadcrumbs%>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>

<p id="notice"><%= notice %></p>
 
<%Transaction.list_view.each do |key,month| %>
      <%= link_to key ,transactions_yearwise_path(:year => key),class:"btn btn-info"%>
<%end%><br/>
  
<br/>

<% if current_user.is_admin?%>
  <%= link_to 'New Transaction', new_transaction_path %>
<%end%><br/><br/>


<div class="container">
                  <table class ="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th>Transaction date</th>
                        <th>Company Name</th>
                        <th>Account Number</th>
                        <th>Particular</th>
                        <th>Transaction type</th>
                        <th>Amount</th>
                        <th>Remark</th>
                        <th>Transaction kind</th> 

                      </tr>
                    </thead>

                    <tbody id="myTable">

                      <%@transactions.order('transaction_date DESC').limit(20).each do |val|%>
                       
                      <tr>
                        <td><%= val.transaction_date.to_s(:long) %></td>
                        <td><%=val.company.name%></td>
                        <td><%=val.account.acc_no%>
                        <td><%= val.perticular.name %></td>
                        <td><%= val.transaction_type %></td>
                        <td><%= val.amount%></td>
                        <td><%= val.remark %></td>
                        <td><%= val.transaction_kind %></td>
                      </tr> 
                      <%end%>
                    </tbody>
                  </table>
   </div>               





