<%#Code for Breadcrumbs%>
<!-- <h1>Listing Transactions</h1><br/>
<ol class="breadcrumb">
  <li><%#= link_to "Transactions",transactions_path%></li>
  <%#Transaction.list_view.each do |key,month| %>
     <li> <%#= link_to key ,transactions_yearwise_path(:year => key),class:"btn btn-info"%></li>
  <%#end%>
  
</ol> -->
<%#end of Breadcrumbs%>

<%= link_to "Back",transactions_yearwise_path(:year=>params[:year])%><br/><br/>

<!-- Searching-->
<%#=form_tag transactions_search_results_path,method: :get do %>
 <!-- <label>Start Date:</label> -->
 <%#= text_field_tag :start%>
  
 <!-- <label>End Date:</label> --> 
  <%#= text_field_tag :end%>
  
  <%#=submit_tag  "Search"%> 
  
<%#end%> 
<!-- <br/>
 -->



<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-7 table-scroll">
  <% Transaction.list_view(current_account)[params[:year].to_i][0][params[:month]] %>
       <div class="scroll">
        <table class ="table table-striped" id="myTable" >
           
            <thead>
                <tr>
                    <th>SI.no</th>
                    <th>Transaction Date</th>
                    <!-- <th>Company Name</th>
                    <th>Account Number</th> -->
                    <th>Instrument Date</th>
                    <th>Transaction kind</th>
                    <th>Instrument Number</th>
                    <th>Particular</th>
                    <th>Amount</th>
                    <th>Transaction type</th>
                    <th>Remark</th> 
                </tr>    
            </thead>
              
            <tbody id="myTable" >
              
                <% Transaction.list_view(current_account)[params[:year].to_i][0][params[:month]].order('transaction_date DESC').each_with_index do |trans,index| %>
                <tr>
                    <td>   <%=index+1%></td>
                    <td>  <%=trans.transaction_date.strftime("%d-%m-%Y")%></td>
                    <!-- <td>  <%=trans.company.name%></td>
                    <td>  <%=trans.account.acc_no%></td> -->
                    <td><%= trans.instrument_date.strftime("%d-%m-%Y") if trans.instrument_date != nil%></td>
                    <td><%= trans.transaction_kind %></td>
                    <td><%= trans.instrument_number%></td>
                    <td>  <%=trans.perticular.name%></td>
                    <td>  <%=trans.amount%></td>
                    <td>  <%=trans.transaction_type%></td>
                    <td>  <%=trans.remark%></td>
                    
                </tr>
                <%end%> <br/><br/> 
                   
            </tbody>
        </table> 
        </div>
 	</div>
                   
	
  <div class="col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-0"> 
        	<% data={} 
           	 	sum_debit=0
              	sum_credit=0
              
            Transaction.list_view(current_account)[params[:year].to_i][0][params[:month]].each do |trans|
              if(trans.transaction_type=="debit")
               	sum_debit=sum_debit+trans.amount 
              else 
                sum_credit=sum_credit+trans.amount	
              end 
              data["debit"] =sum_debit
              data["credit"]=sum_credit
              %>
        	
          <%end%>
            
            <%=column_chart(data) %>
            <%=pie_chart(data) %>
         
        
  </div>          
</div>
</div>

<script type="text/javascript">
   $('#myTable').DataTable();  
</script>
						
                    
      

		
	

        

	

