<div class="container">
    <table class ="table table-bordered" >
        <thead>
            <tr >
                <th>SI.no</th>
                <th>Company Name</th>
                <th>Account Number</th>
                <th>Transaction Date</th>
                <th>Instrument Date</th>
                <th>Transaction kind</th>
                <th>Instrument Number</th>
                <th>Particular</th>
                <th>Amount</th>
                <th>Transaction type</th>
                <th>Balance</th>
                <th>Remark</th> 
                                     
            </tr>    
        </thead>
        
        <tbody>
        	
        	<% @transactions.order('transaction_date ASC').each_with_index do |trans,index|%>

    		<tr>
                <td><%=index+1%></td>
                <td><%=trans.company.try(:name)%></td>
                <td><%=trans.account.acc_no%></td>
                <td><%=trans.transaction_date.strftime(" %d-%m-%Y") if trans.transaction_date!= nil %></td>
                <td><%= trans.instrument_date.strftime(" %d-%m-%Y") if trans.instrument_date!= nil  %></td>
                <td><%= trans.transaction_kind %></td>
                <td><%= trans.instrument_number%></td>
                <td><%=trans.perticular.try(:name)%></td>
                <td><%= trans.amount%></td>
                <td><%= trans.transaction_type %></td>
                <td><%= trans.balance%></td>
                <td><%= trans.remark %></td>    
            </tr>
            <%end%>
               
        </tbody>
    </table> 
</div>

<input type="button" value="Print this page" onclick="printpage()" class="btn btn-success">

<!--<script type="text/javascript">
   $('#myTable').DataTable();  
</script>-->

<script>
    function printpage()
      {
      window.print()
      }
    </script>

