<div class="container">
    <table class ="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>SI.no</th>
                <th>Company Name</th>
                <th>Account Number</th>
                <th>Transaction Date</th>
                <th>Instrument Date</th>
                <th>Transaction kind</th>
                <th>Instrument Number</th>
                <th>Particular</th>
                <th>Amount</th>
                <th>Transaction type</th>
                <th>Remark</th> 
                
            </tr>
        </thead>
        
        <tbody>
        	
        	<% @transactions.order('transaction_date ASC').each_with_index do |trans,index|%>
    		<tr>
                <td><%=index+1%></td>
                <td><%=trans.company.name%></td>
                <td><%=trans.account.acc_no%></td>
                <td><%=trans.transaction_date.strftime(" %d-%m-%Y") if trans.transaction_date!= nil %></td>
                <td><%= trans.instrument_date.strftime(" %d-%m-%Y") if trans.instrument_date!= nil  %></td>
                <td><%= trans.transaction_kind %></td>
                <td><%= trans.instrument_number%></td>
                <td><%=trans.perticular.name%></td>
                <td><%= trans.amount%></td>
                <td><%= trans.transaction_type %></td>
                <td><%= trans.remark %></td>    

            </tr>
            <%end%>
               
        </tbody>
    </table> 
</div>
<br/><br/>
<%=link_to "back",transactions_path,class: "btn btn-info"%>

<%=link_to "Print Preview" ,transactions_search_printpreview_path(:start_date => params[:start], :end_date => params[:end], :account_no => params[:acc_no]),class: "btn btn-primary" %>

<%#=link_to "Export to Excel",transactions_search_printpreview_path(:st_date=> params(:start),:en_date=> params(:end),:accnt_no=>params(:acc_no)),(format: "xls",class: "btn btn-primary")%>

<%= link_to 'Generate pdf',transactions_search_results_path(format: "pdf", :start => params[:start], :end => params[:end], :acc_no => params[:acc_no]),target: "_blank",class: "btn btn-primary" %>

<%=link_to "Export to Excel",transactions_search_results_path(format: "xls",:start => params[:start], :end => params[:end], :acc_no => params[:acc_no]),class: "btn btn-primary" %>

<script type="text/javascript">
   $('#myTable').DataTable();  
</script>

