<p id="notice"><%= notice %></p>

<p>
  <strong>Particular Name:</strong>
  <%= @transaction.perticular.name %>
</p>

<p>
  <strong>Account Number:</strong>
  <%= @transaction.account.acc_no %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @transaction.transaction_date.to_s(:long) %>
</p>


<p>
  <strong>Company Name:</strong>
  <%= @transaction.company.name %>
</p>


<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @transaction.remark %>
</p>

<p>
  <strong>Transaction kind:</strong>
  <%= @transaction.transaction_kind %>
</p>

  <%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
