<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @transaction.company.name %>
</p>

<p>
  <strong>Account Number:</strong>
  <%= @transaction.account.acc_no %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @transaction.transaction_date.to_s(:long) %>
</p>

<p>
  <strong>Instrument number:</strong>
  <%= @transaction.instrument_number %>
</p>

<p>
  <strong>Particular Name:</strong>
  <%= @transaction.perticular.name %>
</p>

<p>
  <strong>Transaction amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Instrument date:</strong>
  <%= @transaction.instrument_date %>
</p>

<p>
  <strong>Transaction kind:</strong>
  <%= @transaction.transaction_kind %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @transaction.remark %>
</p><br/> 


<% if current_user.is_admin?%>
  <%= link_to 'Edit', edit_transaction_path(@transaction),class: "btn btn-info" %> |
<%end%>   
  <% if can? :destroy, @transaction %> 
          <%= link_to 'Destroy', @transaction, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-info" %> |
  <%end%>

<%= link_to 'Back', transactions_path,class: "btn btn-info" %><br/><br/>

<%= link_to 'Generate pdf',transaction_path(@transaction, format: "pdf"), target: "_blank",class: "btn btn-primary" %>






