<p>
  <strong>Particular Name:</strong>
  <%= @transaction.perticular.name %>
</p>

<p>
  <strong>Account Number:</strong>
  <%= @transaction.account.acc_no %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @transaction.company.name %>
</p>


<p>
  <strong>Transaction date:</strong>
  <%= @transaction.transaction_date.strftime(" %d-%m-%Y") if @transaction.transaction_date != nil  %>
</p>


<p>
  <strong>Instrument date:</strong>
  <%= @transaction.instrument_date.strftime(" %d-%m-%Y") if @transaction.instrument_date != nil   %>
</p>

<p>
  <strong>Transaction kind:</strong>
  <%= @transaction.transaction_kind %>
</p>

<p>
  <strong>Instrument number:</strong>
  <%= @transaction.instrument_number %>
</p>


<p>
  <strong>Transaction amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @transaction.remark %>
</p>

<br/>

