<input type="button" value="Print this page" onclick="printpage()" class="btn btn-success">

<h3>Total soft deleted transactions: <%=@transactions.count%></h3>

<div class="container">
                  <table class ="table table-bordered" >
                    <thead>
                      <tr>
                        <th class="text-success">SI.no</th>
                        <th class="text-success">Transaction Date</th>
                        <th class="text-success">Company Name</th>
                        <th class="text-success">Account Number</th>
                        <th class="text-success">Particular</th>
                        <th class="text-success">Transaction type</th>
                        <th class="text-success">Amount</th>
                        <th class="text-success">Transaction kind</th>
                        <th class="text-success">Instrument Date</th>
                        <th class="text-success">Instrument Number</th>
                        <th class="text-success">Balance</th>
                        <th class="text-success">Remark</th>
                        <% if current_user.role=="admin"%>
                        <th class="text-success">Restore</th> 
                        <%end%>
                        
                      </tr>
                    </thead>

                    <tbody id="myTable">

                      <%@transactions.order('deleted_at DESC').each_with_index do |val,index|%>
                       
                      <tr>
                        <td><%=index+1%></td>

                        <td><%= val.transaction_date.strftime("%d-%m-%Y") if val.transaction_date!=nil %></td>

                        <%if val.company==nil%>
                             <td>Null</td>
                        <%else%>    
                        <td><%=val.company.name%></td>
                        <%end%>
    
                        <% if val.account==nil%>
                          <td>Null</td>
                        <%else%> 
                        <td><%=val.account.acc_no%>
                         <%end%> 

                        <%if val.perticular==nil%>
                          <td>Null</td>
                        <%else%> 
                        <td><%=val.perticular.name %></td>
                        <%end%>

                        <td><%= val.transaction_type %></td>
                        <td><%= val.amount%></td>
                        <td><%= val.transaction_kind %></td>
                        <td><%= val.instrument_date.strftime("%d-%m-%Y") if val.instrument_date != nil %></td>
                        <td><%= val.instrument_number%></td>
                        <td><%=val.balance%></td>
                        <td><%= val.remark %></td>
                        <% if current_user.role=="admin"%>
                        <td><%=  "Restore"%></td>
                        <%end%>
                      </tr> 
                      <%end%>
                    </tbody>
                  </table> 
</div>

 <script>
    function printpage()
      {
      window.print()
      }
    </script>



