<h3>The transaction details from  <%=Date.today.beginning_of_week().strftime(" %d-%m-%Y") %> to  <%=Date.today.strftime("%d-%m-%Y")%></h3>


<table border="1">
                    <thead>
                      <tr>
                        <th style="padding: 10px;">SI.no</th>
                        <th style="padding: 10px;">Transaction Date</th>
                        <th style="padding: 10px;">Instrument Date</th>
                        <th style="padding: 10px;">Company Name</th>
                        <th style="padding: 10px;">Account Number</th>
                        <th style="padding: 10px;">Transaction kind</th>
                        <th style="padding: 10px;">Instrument Number</th>
                        <th style="padding: 10px;">Particular</th>
                        <th style="padding: 10px;">Amount</th>
                        <th style="padding: 10px;">Transaction type</th>
                        <th style="padding: 10px;">Remark</th> 

                      </tr>
                    </thead>

                    <tbody id="myTable">
                    <% i = 1 %>
                      <%@transactions.order('created_at DESC').each do |val|%>
                        <% if val.transaction_date >= Date.today.beginning_of_week() && val.transaction_date<= Date.today.end_of_week() %>
                          <tr>
                            <td style="padding: 10px"><%=i%></td>
                            <td style="padding: 10px">  <%=val.transaction_date.strftime(" %d-%m-%Y") if val.transaction_date!=nil%></td>
                            <td style="padding: 10px"><%= val.instrument_date.strftime(" %d-%m-%Y") if val.instrument_date!=nil%></td>
                            <td style="padding: 10px">  <%=val.company.name%></td>
                            <td style="padding: 10px">  <%=val.account.acc_no%></td>
                            <td style="padding: 10px"><%= val.transaction_kind %></td>
                            <td style="padding: 10px"><%= val.instrument_number%></td>
                            <td style="padding: 10px">  <%=val.perticular.name%></td>
                             <td style="padding: 10px">  <%=val.amount%></td>
                            <td style="padding: 10px">  <%=val.transaction_type%></td>
                            <td style="padding: 10px">  <%=val.remark%></td>
                          </tr> 
                        <% i = i+1%>   
                        <%end%>
                      <%end%>
                    </tbody>
                  </table>             