<%if @transactions.empty? %>
  <p>No transactions found </p>
<%else %>
<div class="container">
                  <table class ="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th class="text-success">SI.no</th>
                        <th class="text-success">Transaction Date</th>
                        <th class="text-success">Company Name</th>
                        <th class="text-success">Account Number</th>
                        <th class="text-success">Particular</th>
                        <th class="text-success">Transaction type</th>
                        <th class="text-success">Amount</th>
                        <th class="text-success">Remark</th>
                        <th class="text-success">Transaction kind</th> 

                      </tr>
                    </thead>

                    <tbody id="myTable">

                      <%@transactions.order('created_at DESC').each_with_index do |val,index|%>
                        <% if val.transaction_date >= Date.today.beginning_of_week() && val.transaction_date<= Date.today.end_of_week()%>
                      <tr>
                        <td><%=index+1%></td>
                        <td><%= val.transaction_date.to_s(:long) %></td>
                        <td><%=val.company.name%></td>
                        <td><%=val.account.acc_no%>
                        <td><%= val.perticular.name %></td>
                        <td><%= val.transaction_type %></td>
                        <td><%= val.amount%></td>
                        <td><%= val.remark %></td>
                        <td><%= val.transaction_kind %></td>
                      </tr> 
                      <%end%>
                      <%end%>
                    </tbody>
                  </table>             
   </div>
   <%end%>   
