<%#Code for Breadcrumbs%>
<!-- <h1>Listing Transactions</h1><br/>
<ol class="breadcrumb">
  <li><%#= link_to "Transactions",transactions_path%></li>
  <%#Transaction.list_view.each do |key,month| %>
     <li> <%#= link_to key ,transactions_yearwise_path(:year => key),class:"btn btn-info"%></li>
  <%#end%>

  <%#Transaction.list_view[params[:year].to_i].each do |months|  %>
    <%#months.each do |key,value|%>
     <li> <%#= link_to key,transactions_monthwise_path(:year=> params[:year],:month => key)%></li>
    <%#end%>
  <%#end%>
</ol> -->
<%#end of Breadcrumbs%>


<%# Transaction.list_view %>
<%= link_to "Back",transactions_path%><br><br/>
<% Transaction.list_view[params[:year].to_i].each do |months| %>
    <%months.each do |key,value|%>
        <%=link_to key,transactions_monthwise_path(:year=> params[:year],:month => key),class:"btn btn-info"%>
    <%end%>
<%end%> <br/> <br/>      

<br/>
<% Transaction.list_view[params[:year].to_i].each do |months| %>
    <%months.each do |key,value|%>
        <h3><b><%=link_to key,transactions_monthwise_path(:year=> params[:year],:month => key)%></b></h3>
        <h2><b><%key%></b></h2>
        <% if value == []%>
            <h3>No Transactions Found</h3>
        <%else%>   
        <div class="container">
                  <table class ="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th>Transaction date</th>
                        <th>Account Number</th>
                        <th>Perticular</th>
                        <th>Transaction type</th>
                        <th>Amount</th>
                        <th>Remark</th>
                        <th>Transaction kind</th> 
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <%value.each do |trans|%>
                        <tr>
                          <td>  <%=trans.transaction_date%></td>
                          <td>  <%=trans.account_id%></td>
                          <td>  <%=trans.perticular_id%></td>
                          <td>  <%=trans.transaction_type%></td>
                          <td>  <%=trans.amount%></td>
                          <td>  <%=trans.remark%></td>
                          <td>  <%=trans.transaction_kind%><td>
                         </tr> 
                      <%end%> <br/><br/>
                        
                    </tbody> 
                  </table> 
        </div> 
        <%end%> 


        <%if value == []%>
                 <h2> No chart Found</h2>
              <%else %>  
              <% data ={}

              sum_debit=0
              sum_credit=0

             value.each do |val|
              if(val.transaction_type=="debit")
                sum_debit=sum_debit+val.amount
              else 
                sum_credit=sum_credit+val.amount
              end 
              data["debit"] =sum_debit
              data["credit"]=sum_credit
            end %>
           <%end%>
            
            <%=bar_chart(data) %>
            <%=pie_chart(data) %>             
    <%end%>
<%end%>
     



