<%#Code for Breadcrumbs%>
<!-- <h1>Listing Transactions</h1><br/>
<ol class="breadcrumb">
  <li><%#= link_to "Transactions",transactions_path%></li>
  <%#Transaction.list_view.each do |key,month| %>
     <li> <%#= link_to key ,transactions_yearwise_path(:year => key),class:"btn btn-info"%></li>
  <%#end%>

  <%#Transaction.list_view[params[:year].to_i].each do |months|  %>
    <%#months.each do |key,value|%>
     <li> <%#= link_to key,transactions_monthwise_path(:year=> params[:year],:month => key)%></li>
    <%#end%>
  <%#end%>
</ol> -->
<%#end of Breadcrumbs%>
<%#Transaction.list_amount[params[:year].to_i].each do |months,amounts|%>
  
  <%#=months.each do |month,amount|%>
      <%#amount%>
  <%#end%>
<%#end%>

<!-- Searching-->

<%#=form_tag transactions_search_results_path,method: :get do %>
 <!-- <label>Start Date:</label> -->
 <%#= text_field_tag :start%>
  
 <!-- <label>End Date:</label>  -->
  <%#= text_field_tag :end%>
  
  <%#=submit_tag  "Search"%> 
  
<%#end%> 


<%#=form_tag transactions_search_results_path,method: :get do %>
<!-- <label>Start Date:</label>
 <div class="col-sm-10">
    <div class="input-group">
      <div class="input-group-addon">
         <i class="fa fa-calendar"></i>
      </div> -->

      <%#= text_field :start,class: "form-control", id: "date" ,placeholder: "yyyy/mm/dd"%>
    <!-- </div>
  </div>
 <label>End Date:</label> 
 <div class="col-sm-10">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <%#= text_field :end,class: "form-control", id: "date" ,placeholder: "yyyy/mm/dd"%>
    </div>
  </div>
  <br/>
  <%#=submit_tag  "Search"%> 
  
<%#end%> 
 -->


<%# Total credit amount of perticular year%>

<%= link_to "Back",transactions_path%><br><br/>

<% Transaction.list_view(current_account)[params[:year].to_i].each do |year| %>
   <% if params[:year].to_i == Date.today.year %>
      <%year.each do |key,value|%>  
        <%=link_to key,transactions_monthwise_path(:year=> params[:year],:month => key),class:"btn btn-info"%>
        <% if key== Date::MONTHNAMES[Date.today.end_of_month.month ]  %>
            <%break%> 
        <%end%> 
      <%end%>  
  <%else%>
    <%year.each do |key,value|%>  
        <%=link_to key,transactions_monthwise_path(:year=> params[:year],:month => key),class:"btn btn-info"%>
    <%end%>        
  <%end%>    
<%end%>
<br/> <br/> 

<%Transaction.list_cr_amount[params[:year].to_i].each do |months,amounts|%>

<% a = 0 %>
<%months.each do |month,amount|%>
      <%amount%>
      <%a = a + amount %>
  <%end%>
<% a %>
<% data ={}
  data["credit"]=a
  %>
  <%=column_chart(data) %>

<br/><br/>

<%end%>

<%# Total debit amount of perticular year%>
<%Transaction.list_dr_amount[params[:year].to_i].each do |months,amounts|%>

<% a = 0 %>
<%months.each do |month,amount|%>
      <%amount%>
      <%a = a + amount %>
  <%end%>
<% a %>
<% data ={}
  data["debit"]=a
  %>
  <%=column_chart(data) %>

<br/><br/>

<%end%>     

<br/>


<% Transaction.list_view(current_account)[params[:year].to_i].each do |year| %>
    <%year.each do |key,value|%>
        <%# if key == Date.today.next_month.strftime("%B") %>
          <!--<h2>No months Found</h2> 
        <%#else%> --> 
        <h3><b><%=link_to key,transactions_monthwise_path(:year=> params[:year],:month => key,class: "bg-danger")%></b></h3>
        <h2><b><%key%></b></h2>
        <% if value == []%>
            <!-- <h3>No Transactions Found</h3> -->
        <%else%>   
        <div class="container">
          <div class="row">
            <div class="col-md-9" >
                  <table class ="table table-striped" id="myTable">
                    <thead>
                      <tr>
                        <th class="text-success">SI.no</th>
                        <th class="text-success">Transaction Date</th>
                        <th class="text-success">Company Name</th>
                        <th class="text-success">Account Number</th>
                        <th class="text-success">Particular</th>
                        <th class="text-success">Transaction Type</th>
                        <th class="text-success">Amount</th>
                        <th class="text-success">Remark</th>
                        <th class="text-success">Transaction Kind</th> 
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <%value.order('transaction_date ASC').each_with_index do |trans,index|%>
                        <tr>
                          <td>  <%=index+1%></td>
                          <td>  <%=trans.transaction_date%></td>
                          <td><%=trans.company.name%></td>
                          <td>  <%=trans.account.acc_no%></td>
                          <td>  <%=trans.perticular.name%></td>
                          <td>  <%=trans.transaction_type%></td>
                          <td>  <%=trans.amount%></td>
                          <td>  <%=trans.remark%></td>
                          <td>  <%=trans.transaction_kind%><td>
                         </tr> 
                      <%end%> <br/><br/>
                        
                    </tbody> 
                  </table> 
          </div> 
        

        
        <%if value == []%>
                 <h2> No chart Found</h2>
              <%else %> 
              <h2></h2>
              <div class="col-md-3">  
              <% data ={}

              sum_debit=0
              sum_credit=0

             value.each do |val|
              if(val.transaction_type=="debit")
                sum_debit=sum_debit+val.amount
              else 
                sum_credit=sum_credit+val.amount
              end 
              data["debit"] =sum_debit
              data["credit"]=sum_credit
            end %>
         
            
            <%=column_chart(data) %>
            <%=pie_chart(data) %>
         <%end%>
            </div>
          </div>
        </div>                  
    <%end%>
    <%end%> 
    <%#end%>
<%end%>










