<!DOCTYPE html>
<html>
<head>
  <title>VinolyaAccounts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
 <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js">
  $(document).ready(function(){
   // $('.data-table').DataTable();  
  });
</script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- FOR CHOSEN SELECT -->
<link rel="stylesheet" type="text/css" href="../../chosen.css" />
<script type="text/javascript" src="../../chosen.jquery.min.js"></script>

<script>
   $(document).ready(function(){
     $(".chosen-select").chosen();
  });

</script>

 <% unless controller.action_name == "print_preview" || request.path == "/transactions/weekly_pp" || request.path == "/transactions/daily_pp" || controller.action_name =="softdelete_pp"%> 
 
<center>
	<% if user_signed_in? %>
    <div class="page-header">
        <h1>VINOLYA ACCOUNTS <small>From DCT Academy</small></h1>
    </div>
 		
 	<%end%>	
</center>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

<%if user_signed_in? %>
<!--This condition for Dashboard-->
<% unless controller.controller_name=="dashboards" %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to root_path ,:class=> "navbar-brand" do%>
      <span class= "glyphicon glyphicon-home"></span>
     <%end%>
   
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
  
                      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master <span class="glyphicon glyphicon-th-list"></span></a>
           <ul class="dropdown-menu">
             <li><%=link_to "Account",accounts_path%></li>
             <li><%=link_to "Company",companies_path%></li>
             <li><%=link_to "Bank",banks_path%></li> 
             <li><%=link_to "Branch",branches_path%></li> 
             <li><%=link_to "Particular",perticulars_path%></li>
          </ul> 
        </li>

        <% if Account.first != nil %>
            <li><%=link_to "Transaction",transactions_path %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="glyphicon glyphicon-th-list"></span></a>
           <ul class="dropdown-menu">
             <li><%=link_to "Daily Statement",transactions_daily_statement_path%></li>

             <li><%=link_to "Weekly Statement",transactions_weekly_statement_path%></li>

             <li><%=link_to "Soft Deleted Transactions",transactions_soft_delete_path%></li>

             
           </ul>
        </li>   

        

      </ul>
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    <ul class="nav navbar-nav navbar-right">

  <li> 
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company Link <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu ">
              <% all_companies.each do |company| %> 

              <li class="dropdown-submenu ">
                <% unless company.accounts.empty? %> 
                <a tabindex="-1" href="#"><%= company.name %> </a>
                <ul class="dropdown-menu ">
                  <% company.accounts.each do |account| %> 
                    <li class="postion"><%=link_to account.acc_no,accounts_select_account_path(account_id: account.id)%></li>
                  <% end %> 
                </ul>
              </li>
                <% else %> 
                <li><%= link_to  company.name %>  </li>
              <% end %> 
              <% end %>
            </li>
        </ul></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounts Links <span class="glyphicon glyphicon-th-list"></span></a>
           <ul class="dropdown-menu" >
            <% all_accounts.each do |acc|%>
               <li><%=link_to acc.acc_no, accounts_select_account_path(account_id: acc.id)%></li>
            <%end%> 
          </ul> 
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bank Links <span class="glyphicon glyphicon-th-list"></span></a>
           <ul class="dropdown-menu" >
            <% Bank.all.each do |bank|%>
             <li><%=link_to bank.name,bank.try(:link),target: :_blank%></li>
            <%end%> 
          </ul> 
        </li>
          

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%="#{current_user.email}" %><span class= "glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
            <li><%=link_to "Logout", destroy_user_session_path,method: :delete %></li>

          </ul>

          
        </li>
        <li><%=link_to :back do %>
                  <span class= "glyphicon glyphicon-menu-left">Back</span>
            <%end%>      
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%end%>
<%end%>
<%end%>

<%if controller.controller_name!="companies"%>
  <%if controller.controller_name!="banks"%>
    <%if controller.controller_name!="branches"%>
    <div class="col-md-row">
      <div class="col-md-4">
    <ul class="breadcrumb">

    <%#unless (controller.controller_name!="transactions"and controller.action_name=="print_preview") || request.path == "/transactions/weekly_pp" || request.path == "/transactions/daily_pp" || controller.action_name =="softdelete_pp"%>
     <%if controller.controller_name=="transactions" %>
        <li><%=link_to "Transactions",transactions_path%><span class="divider">>></span></li> 
    <%end%> 


    <%if controller.controller_name=="transactions" and controller.action_name=="yearwise" %>
      
      <%= link_to params[:year],transactions_yearwise_path(:year => params[:year])%><span class="divider">>></span><break> 
        
    <%end%>

    <%if controller.controller_name=="transactions" and controller.action_name=="monthwise"%>
      <%= link_to params[:year],transactions_yearwise_path(:year => params[:year])%><span class="divider">>></span><break> 
           
      <%=link_to params[:month],transactions_monthwise_path(:year=> params[:year],:month => params[:month])%></li> 
    <%end%>


    <%if controller.controller_name=="perticulars"%>
        <li><%=link_to "Particulars",perticulars_path%><span class="divider">>></span></li> 
    <%end%> 

    <%if controller.controller_name=="perticulars" and controller.action_name=="yearwise_perticular" %>
        <li><%=link_to params[:year],perticulars_yearwise_perticular_path(:year => params[:year],:perticular_id =>@perticular.id)%><span class="divider">>></span></li>
    <%end%>    

    <%if controller.controller_name=="perticulars" and controller.action_name=="monthwise_perticular" %>
        <li><%=link_to params[:year],perticulars_yearwise_perticular_path(:year => params[:year],:perticular_id =>@perticular.id)%><span class="divider">>></span></li>

        <li><%=link_to params[:month],perticulars_monthwise_perticular_path(:year => params[:year],:month => params[:month],:perticular_id =>@perticular.id)%><span class="divider">>></span></li>   
    <%end%>




    <%if controller.controller_name=="accounts"%>
        <li><%=link_to "account",accounts_path%><span class="divider">>></span></li> 
    <%end%> 

    <%if controller.controller_name=="accounts" and controller.action_name=="yearwise_acc" %>
        <li><%=link_to params[:year],accounts_yearwise_acc_path(:year => params[:year],:account_id =>@account.id)%><span class="divider">>></span></li>
    <%end%>   

    <%if controller.controller_name=="accounts" and controller.action_name=="monthwise_acc" %>
        <li><%=link_to params[:year],accounts_yearwise_acc_path(:year => params[:year],:account_id =>@account.id)%><span class="divider">>></span></li>

        <li><%=link_to params[:month],accounts_monthwise_acc_path(:year => params[:year],:month => params[:month],:account_id =>@account.id)%><span class="divider">>></span></li> 
    <%end%>    
    </ul>
  </div>
</div>
    <%end%>
  <%end%>
<%end%>  

 
<div class="col-md-8">
<div class= "session">
  <% if controller.controller_name =="transactions" and controller.action_name!="print_preview" %>
    <% if  user_signed_in? && controller.controller_name!="dashboards"  %>
      <% if current_account != nil %>
        <h3> Account Number : <%= current_account.acc_no %>  Company : <%= current_account.company.name %>
        <% def number_to_indian_currency(current_balance, html=true)%>
            <% txt = html ? ( 'Rs.') : 'Rs.' %>
            <% "#{txt} #{current_balance.to_s.gsub(/(\d+?)(?=(\d\d)+(\d)(?!\d))(\.\d+)?/, "\\1,")}"%>  
        <%end%> 
     
         Current Balance : <%=number_to_indian_currency(current_account.current_balance)%></h3>
      <% else%>
        <h3><b>Select account number</b></h3>
      <% end %>
    <%end%>  
  <%end%>
</div> 
</div>

</div>       

<div class="alert alert danger"><%= alert %>

<%= yield %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>





<!--script for Calender-->
  <script>
  $(document).ready(function(){
    $('.transaction_date').datepicker({
      format: 'dd-mm-yyyy',
      todayHighlight: true,
      autoclose: true
    });
  })
</script>


<script>
  $(document).ready(function(){
    var date_input=$('input[name="start"]');
    //var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'dd-mm-yy',
      //container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
</script>

<script>
  $(document).ready(function(){
    var date_input=$('input[name="end"]');
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'dd-mm-yy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
</script>


</body>
</html>
