<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :acc_no %><br>
    <%= f.text_field :acc_no,class:"col-sm-6" ,autofocus: true%><br/><br/>
    <p id ="accountError"></p>
  </div>

  <div class="field">
    <%= f.label :opening_balance %><br>
    <%= f.text_field :opening_balance,class:"col-sm-6" %><br/><br/> 
    <p id ="opening_balanceError"></p>
  </div>

  <div class="field">
    <%= f.label :bank_id %><br>
    <%= f.collection_select :bank_id,Bank.all,:id,:name, {prompt:"select Bank"},{ class: 'chosen-select' } %><br/>
  </div><br/>


  <div class="field">
    <%= f.label :branch_id %><br>
    <%= f.collection_select :branch_id,Branch.all,:id,:name,{prompt:"Select branch"},{ class: 'chosen-select' }%><br/>
  </div><br/>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.collection_select :company_id,Company.all,:id,:name, {prompt:"Select company"},{ class: 'chosen-select' } %><br/>
  </div><br/>

  <div class="field">
    <%= f.label :acc_type %><br>

    <%= f.radio_button :acc_type, 'Current', :checked => true %> 
    <%= f.label :Current %>
    
    <%= f.radio_button :acc_type, 'Over Draft' %>
    <%= f.label :OverDraft %>

    <%= f.radio_button :acc_type, 'Savings' %>
    <%= f.label :Savings %>

    <%= f.radio_button :acc_type, 'Others' %>
    <%= f.label :Others %>
  </div><br/>

  <div class="field">
    <%= f.label :current_balance %><br>
    <%= f.text_field :current_balance,class:"col-sm-6" %><br/><br/> 
    <p id ="current_balanceError"></p>
  </div>

  <div class="field">
    <%= f.label :IFSC %><br>
    <%= f.text_field :IFSC,class:"col-sm-6" %><br/><br/>
    <p id ="IFSCError"></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div><br/>
<% end %>


<script>
  // document.getElementById('account_acc_no').tabIndex="1";
  // document.getElementById('account_opening_balance').tabIndex="2";
  // document.getElementById('account_bank_id').tabIndex="3";
  // document.getElementById('account_branch_id').tabIndex="4";
  // document.getElementById('account_company_id').tabIndex="5";
  // //document.getElementById('account_account_acc_type_current').tabIndex="6";
  // document.getElementById('account_current_balance').tabIndex="6";
  // document.getElementById('account_IFSC').tabIndex="7";
  // document.getElementById('submit').tabIndex="8";

  var accountHandle = document.getElementById('account_acc_no');
  var accountErrorHandle = document.getElementById('accountError');
  var opening_balanceHandle = document.getElementById('account_opening_balance');
  var opening_balanceErrorHandle = document.getElementById('opening_balanceError');
  var current_balanceHandle= document.getElementById('account_current_balance');
  var current_balanceErrorHandle =document.getElementById('current_balanceError');
  var account_IFSCHandle = document.getElementById('account_IFSC');
  var IFSCErrorHandle =document.getElementById('IFSCError');

  accountHandle.onblur = function(){
    if(accountHandle.value == ""){
      accountErrorHandle.innerHTML = "Cant't be blank";
    }else{
      accountErrorHandle.innerHTML = "";
    }  
  }

  opening_balanceHandle.onblur =function(){
    if(opening_balanceHandle.value == ""){
      opening_balanceErrorHandle.innerHTML = "Cant't be blank";
    }else{
      opening_balanceErrorHandle.innerHTML = "";
    }
  }

  current_balanceHandle.onblur = function(){
    if(current_balanceHandle.value == ""){
      current_balanceErrorHandle.innerHTML = "Can't be blank";
    }else{
      current_balanceErrorHandle.innerHTML = "";
    }
  }

  account_IFSCHandle.onblur = function(){
    if(account_IFSCHandle.value == ""){
      IFSCErrorHandle.innerHTML = "Cant't be blank";
    }else{
      IFSCErrorHandle.innerHTML = "";
    }
  }


</script>
