<p id="notice"><%= notice %></p>


<% if current_user.is_admin? || current_user.is_finance? %>
  <button type="button" class="btn btn-info">  
    <%= link_to 'New Account', new_account_path %>
   </button> 
<%end%><br/>


<h2 class="text-muted">Listing Accounts</h2>


<%if @accounts.empty? %>
  <p>No accounts found </p>
<%else %>

<div class="container">
<table id="myTable" class ="table table-striped">
  <thead>
    <tr>
      <th class="text-success">SI.no</th>
      <th class="text-success">Account Number</th>
      <th class="text-success">Opening Balance</th>
      <th class="text-success">Bank</th>
      <th class="text-success">Branch</th>
      <th class="text-success">Account Type</th>
      <th class="text-success">Current Balance</th>
      <th class="text-success">Company Name</th>
      <th class="text-success">Show</th>
      <th class="text-success">Edit</th>
      <th class="text-success">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.order('created_at DESC').each_with_index do |account,index| %>
      <tr>
        <td><%=index.to_i+1%></td>
        <td><%= account.try(:acc_no) %></td>
        <td><%= account.opening_balance %></td>
        <td><%= account.bank.name%></td>
        <td><%# account.branch.name  %></td>
        <td><%= account.acc_type %></td>
        <td><%= account.current_balance %></td>
        <td><%= account.company.name%>
        <td><%= link_to 'Show', account %></td>
        <% if can? :update, account %>
          <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <% end %>
        <% if can? :destroy, account %> 
          <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>  
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%end%>
<br/>


<script type="text/javascript">
   $('#myTable').DataTable();  
</script>
