<input type="button" value="Print this page" onclick="printpage()" class="btn btn-success">


<%if @accounts.empty? %>
  <p>No accounts found </p>
<%else %>
<div class="container">
<table id="myTable" class ="table table-bordered">
  <thead>
    <tr>
      <th class="text-success">SI.no</th>
      <th class="text-success">Account Number</th>
      <th class="text-success">Opening Balance</th>
      <th class="text-success">Bank</th>
      <th class="text-success">Branch</th>
      <th class="text-success">Account Type</th>
      <th class="text-success">Current Balance</th>
      <th class="text-success">Company Name</th>
      <th class="text-success">IFSC</th>
    
    
      
    </tr>
  </thead>

  <tbody>
    <% @accounts.order('created_at DESC').each_with_index do |account,index| %>
      <tr>
        <td><%=index.to_i+1%></td>
        <td><%= account.try(:acc_no) %></td>
        <td><%= account.opening_balance %></td>
        <td><%= account.bank.name%></td>
        <td><%= account.branch.name  %></td>
        <td><%= account.acc_type %></td>
        <td><%= account.current_balance %></td>
        <%if account.company== nil%>
          <td>Null</td>
        <%else%>
        <td><%= account. company.name%></td>
        <%end%>
        <td><%= account.IFSC %></td>
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%end%>

<script>
    function printpage()
      {
      window.print()
      }
    </script>

