<div class="row">
  <div class="col-md-6 ">
  <div class="box-1">
<p id="notice"><%= notice %></p>

<p>
  <strong>Acc no:</strong>
  <%= @account.acc_no %>
</p>

<p>
  <strong>Opening balance:</strong>
  <%= @account.opening_balance %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @account.bank.name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @account.branch.name%>
</p>


<p>
  <strong>Acc type:</strong>
  <%= @account.acc_type %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @account.current_balance %>
</p>

<p>
  <strong>company:</strong>
  <%= @account.company.name%>
</p>

<p>
  <strong>IFSC:</strong>
  <%= @account.IFSC%>
</p>

<br/>
<% if can? :update, @account %>
<%# if current_user.is_admin?%>
  <%= link_to 'Edit', edit_account_path(@account),class: "btn btn-info" %> |
<%end%>

<%# if can? :destroy, @account %> 
          <%#= link_to 'Delete', @account, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-info" %>  
        <%#end%>  
<%= link_to 'Back', accounts_path,class: "btn btn-info" %><br/><br/>

<% if current_user.role != 'finance'%>
    <%=link_to "Back to #{@account.bank.name}",bank_path(@account.bank.id),class:"btn btn-info"%>
    <br/><br/>
    <%=link_to "Back to #{@account.company.name}",company_path(@account.company.id),class:"btn btn-info"%><br/>
<%end%>
 <br/> 
</div>
</div>


<div class="col-md-6">
  <% if @account.transactions.blank? %>
  <div class="box-2">
  <%else%>  
  <div class="box-1">
<% unless @account.transactions.blank? %>
  <h4><b>Reports</b></h4>
<%@account.transactions.list.each do |key,month| %>
      <%=link_to key,accounts_yearwise_acc_path(:year => key,:account_id =>@account.id),class:"btn btn-success"%>   
<%end%>   <br/><br/> 
<%end%>
<%end%>
</div>
</div>







