<%= link_to "Back",account_path(@account)%><br/><br/>

<% @account.transactions.list[params[:year].to_i].each do |months| %>
	<% if params[:year].to_i == Date.today.year %>
		<%months.each do |key,value|%>
			<%=link_to "#{key}(#{value.count})",accounts_monthwise_acc_path(:year=>params[:year],:account_id =>@account.id,:month=> key),class:"btn btn-info"%>
			<% if key== Date::MONTHNAMES[Date.today.end_of_month.month ]  %>
            	<%break%> 
            <%end%> 
		<%end%>	
	<%else%>
		<% @account.transactions.list[params[:year].to_i].each do |months| %>
			<%months.each do |key,value|%>
				<%=link_to "#{key}(#{value.count})",accounts_monthwise_acc_path(:year=>params[:year],:account_id =>@account.id,:month=> key),class:"btn btn-info"%>
			<%end%>
		<%end%>	
	<%end%>
<%end%>	

<%=link_to "All transactions",accounts_all_transaction_path(:year=>params[:year],:account_id =>@account.id),class:"btn btn-info"%>


<br/><br/>
<% @account.transactions.list[params[:year].to_i].each do |months| %>
	<%# if params[:year].to_i == Date.today.year %>
	<%months.each do |key,value|%>
		<% if value.present? %>
			<b><br/><br/> <%=key %>:<b/>
		<% end %>	
		<% if value == []%>
	        <!-- No Transactions Found<br/><br/> -->
	    <%else%>   

	     <div class="container">
	        <div class="row">
	            <table class ="table table-striped table1">
	              	<thead>
		                <tr>
		                    <th>SI.no</th>
		                    <th>Transaction Date</th>
		                    <th>Company Name</th>
		                    <th>Account Number</th>
		                    <th>Particular</th>
		                    <th>Transaction type</th>
		                    <th>Amount</th>
		                    <th>Transaction kind</th>
		                    <th>Instrument Date</th>
		                    <th>Instrument Number</th>
		                    <th>Remark</th> 
		                    <!-- <th>IFSC</th>     -->                          
	                	</tr>    
            	  	</thead>
                	<tbody >
		                <% value.order('transaction_date ASC').each_with_index do |trans,index|%>
			                <tr>
			                    <td>   <%=index+1%></td>
			                    <td>  <%=trans.transaction_date.strftime("%d-%m-%Y")%></td>
			                    <td>  <%=trans.company.try(:name)%></td>
			                    <td>  <%=trans.account.acc_no%></td>
			                    <td>  <%=trans.perticular.name%></td>
			                    <td>  <%=trans.transaction_type%></td>
			                    <td>  <%=trans.amount%></td>
			                    <td><%= trans.transaction_kind %></td>
			                    <td><%= trans.instrument_date.strftime("%d-%m-%Y") if trans.instrument_date != nil%></td>
			                    <td><%= trans.instrument_number%></td>
			                    <td>  <%=trans.remark%></td>
			                    <!-- <td>  <%#=trans.account.IFSC%></td>  --> 
			                </tr>
						<% end %>
					</tbody>
				</table>	
			
	        </div>
	    </div> 
		<% end%>
	<%end%>
<% end %>		

<script type="text/javascript">
   $('.table1').DataTable();  
</script>
						
